.container {
    display: grid;

    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;



}

.header {


    border: 5px solid black;

    grid-column: 2;

    


}

.sidebar{
    border: 5px solid lightblue;
   

    grid-column: 1;
    grid-row: 1/5;


}

.main-content {
    border: 5px solid green;


}